*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black !important;
    background: -o-linear-gradient(315deg, #2D3436 0%, #000000 74%);
}
.main-color{
    color: #4834D4 !important;
}
.main-colorg{
    background-color:#4834D4 !important;
}
.link-light:hover{
    color: #4834D4 !important;
    font-weight: bold !important;
}

.parallax {
    background: url(../img/rewind-landscape.jpg) no-repeat center;
    background-size: cover; 
    background-attachment: fixed; 
    width: 600px; 
    height: 100vh;
}

@media (max-width: 375px) {
    .parallax {
        width: 300px; 
    }
}

@media (max-width: 603px) {
    .parallax {
        width: 400px; 
    }
}

#glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  .footer-logo {
    position: relative;
    bottom: 0%;
    left:-55px;
    
  }
  /* @media (min-width: 1024px) {
    #navigation {
        position: fixed;
        width: 100%;
      }
  } */